*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100wh;
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-position: center center/cover;
    background-color: #063000;
}

nav {
    padding: 2%;
    color: antiquewhite;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerpgum {
    background-image: url('https://i.pinimg.com/originals/86/d7/5a/86d75a902dda5a4c6ac4b95d8a5afba4.gif'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
    background-size: cover; 
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100%; 
}
.caixa-maior {
    background-color: #063000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 950px;
    max-width: 450px;
    color: antiquewhite;
    transform: translate(163%, -200%);
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #476842;
    color: antiquewhite;
    width: calc(100% - 100px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #476842;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 40px;
}

.cidade {
    color: antiquewhite;
    font-size: 30px;
    font-weight: 300;
}

.temp {
    font-size: 30px;
    color: antiquewhite;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.texto-previsao {
    color: antiquewhite;
    margin-top: 10px;
    text-transform: capitalize;
}

.umidade {
    color: antiquewhite;
    margin-top: 20px;
}
